<div class="roomDetailHeaderDiv">
    <div class="headerEditDiv">
        <h2>{{room.name}}</h2>
        {{#ifEquals room.roomOwner currentUser}}
        <div class="editAreaButton">
            <img src="/images/gear.png" alt="settings-logo">
            <a href="/rooms/{{room._id}}/edit">Edit Room</a>
        </div>
        {{/ifEquals}}
    </div>
    <p>{{room.description}}</p>
</div>

    <div class="addUserDiv">
        <form action="/rooms/{{room._id}}/add-user" method="post">
            <div class="addUserInputs">
                <input class="form-control login" type="email" name="newUser" placeholder="Registered User's Email" required>
                <button class="btn btn-primary" type="submit">Add User to Room</button>
            </div>
        </form>
    </div>


{{!-- LISTS ALL WISHLIST HERE --}}
<div class="papaWishListDiv container">
    <div class="row">
        {{#each room.wishLists}}
        <div class="wishListDiv col-4">
            <h3>{{this.listOwner.fullName}}'s Wish List</h3>
            {{#each this.wishes}}
            <div class="wishDiv">
                <p class="itemName">{{this.itemName}}</p>
                {{#if this.description}}<p class="itemDetails">{{this.description}}</p>{{/if}}
                <br>
                {{#if this.otherURL}}<p class="itemDetails">User Provided Link: <a href="{{this.otherURL}}">{{this.otherURL}}</a></p>{{/if}}
                <div class="amazonInfoDiv">
                    {{#if this.amazonImageURL}} <img src="{{this.amazonImageURL}}" alt="amazon-img">{{/if}}
                    {{#if this.amazonPrice}} <p class="itemDetails">Amazon Price: {{this.amazonPrice}}</p> {{/if}}
                </div>
                {{#if this.amazonURL}}<a class="amazonLink" href="{{this.amazonURL}}">View the item on Amazon</a>{{/if}}
                {{#ifNotEquals this.wishOwner ../../currentUser}}
                    <div class="claimedArea">
                        {{#if this.claimed}}
                            <p class="itemDetails">This gift has been claimed!</p>
                        {{else}}
                        <form action="/rooms/{{../../room._id}}/{{this._id}}/claim" method="post">
                            <button class="btn btn-primary" type="submit">Claim this gift</button>
                        </form>
                        {{/if}}
                    </div>
                {{/ifNotEquals}}
            </div>
            <hr>
            {{/each}}
        </div>
        {{/each}}
    </div>
</div>

<div class="addWishDiv">    
    <h2>Add to Your Wishlist</h2>
    <div>
        <form action="/rooms/{{room._id}}/createwish" method="post">
            <input class="form-control login" type="text" name="itemName" placeholder="Item Name" required>
            <input class="form-control login" type="text" name="description" placeholder="Optional Description">
            <input class="form-control login" type="text" name="amazonURL" placeholder="Amazon Link">
            <input class="form-control login" type="text" name="otherURL" placeholder="Other Link">
            <button class="btn btn-primary" type="submit">Add Wish!</button>
        </form>
    </div>
</div>
